<div class="container mt-5">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search lessons..." [(ngModel)]="searchText">
    <div class="input-group-append">
      <button cButton color="primary">Search</button>
    </div>
    <div class="input-group-append ml-2">
      <c-dropdown variant="btn-group">
        <button cButton cDropdownToggle>
          Filter by Category
        </button>
        <ul cDropdownMenu>
          <li><a cDropdownItem (click)="filterByCategory('All Categories')">All Categories</a></li>
          <li><a cDropdownItem (click)="filterByCategory('Category 1')">Category 1</a></li>
          <li><a cDropdownItem (click)="filterByCategory('Category 2')">Category 2</a></li>
        </ul>
      </c-dropdown>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-4">

      <button [cModalToggle]="verticallyCenteredModal.id" cButton color="primary">Create Lesson</button>
    </div>
  </div>

  <div class="row" *ngIf="!getTutorials">
    <ng-container *ngFor="let lesson of lessons">
      <div class="col-md-4 mb-4">
        <c-card>
          <img cCardImg="top" [src]="'data:image/jpg;base64,' + lesson.image" alt="Lesson Image">
          <c-card-body>
            <h5 cCardTitle>{{ lesson.title }}</h5>
            <p cCardText>
              {{ lesson.description }}
            </p>
            <button cButton color="primary" (click)="addLesson(lesson.id)">Go</button>
            <button cButton color="danger" (click)="deleteLesson()">Delete</button>
          </c-card-body>
        </c-card>
      </div>
    </ng-container>
    <div *ngIf="filterLessons().length == 0" class="col-md-12 text-center">
      <p>No lessons found</p>
    </div>
  </div>
  <div *ngIf="getTutorials" class="text-center">
    <div class="spinner-border" role="getTutorials">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <c-pagination aria-label="Page navigation example">
    <ul class="pagination justify-content-center mt-4">
      <li class="page-item"[class.disabled]="currentPage === totalPages" >
        <a class="page-link" href="/Home" (click)="prevPage()" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"  *ngFor ="let page of pagesArray" >
        <a class="page-link" (click)="getSpescficPage(page)">{{ page }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" href="/Home" (click)="nextPage()" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </c-pagination>
</div>


 

<c-modal [visible]="homeModel" (visibleChange)="handleLiveDemoChange($event)"  #verticallyCenteredModal alignment="center" id="verticallyCenteredModal">
  <c-modal-header>
    <h5 cModalTitle>Lesson Input Form</h5>
    <button (click)="toggleLiveDemo()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <form #myForm="ngForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" name="title" [(ngModel)]="formData.title" required #title="ngModel">
          <div *ngIf="title.invalid && (title.dirty || title.touched)" class="invalid-feedback">
            
              Title is required.
          
          </div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control" id="description" name="description" [(ngModel)]="formData.description" required #description="ngModel"></textarea>
          <div *ngIf="description.invalid && (description.dirty || description.touched)" class="invalid-feedback">
            
              Description is required.
            
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <label for="level" class="form-label">Level</label>
            <!--<input type="text" class="form-control" id="level" name="level" [(ngModel)]="formData.level" required #level="ngModel">-->
            <select class="form-control" id="level" name="level" [(ngModel)]="formData.level" required #level="ngModel">

              <option value="" disabled>Select Level</option> <!-- Placeholder option -->

              <option *ngFor="let level of levels" [value]="level">{{ level }}</option>

            </select>
            <div *ngIf="level.invalid && (level.dirty || level.touched)" class="invalid-feedback">

              Level is required.

            </div>
          </div>
          <div class="col-md-6">
            <div class="form-check mt-md-4">
              <input type="checkbox" class="form-check-input" id="isPaid" name="isPaid" [(ngModel)]="formData.isPaid">
              <label class="form-check-label" for="isPaid">Is Paid?</label>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Image</label>
          <input type="file" class="form-control" id="image" name="image" (change)="onFileChange($event)" accept="image/*" required>
          <div class="invalid-feedback">
            Please choose an image.
          </div>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary" >Submit</button>
        </div>
      </form>
  </c-modal-body>
</c-modal>
